.main-section{
    padding: 10px;
    background-color: black;
    position: relative;
}

.box-wrapper{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    width: 160px;
    height: 160px;

}

.box:hover {
    background-color: rgb(177, 221, 75);
  }

.small{
    // height: 20px !important;
    // width: 20px !important;
    // border: 3px solid !important;
    font-size: 30px;
}

#box-0{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

#box-1{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#box-2{
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

#box-3{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

#box-4{
    border: 1px solid white;
}

#box-5{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

#box-6{
    border-top: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

#box-7{
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#box-8{
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.box{
    // border-right: 1px solid white grey;
    // background-color: rgba(231, 116, 231, 0.938);
    display: flex;
    max-width: 100px;
    max-height: 100px;
    justify-content: center;
    align-items: center;
}


.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
}

.rectangle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
}

.box-content{
    margin: auto;
}

// @media screen and (max-device-width: 439px) {
//     /* Your CSS styles for iOS devices go here */
//     .main-section{
//         width: 120px;
//         height: 150px;
//     }
//   }
