<div class="center-grid">
  <div class="guide-wrapper">
    <span class="guide-text">Player One: ⭕️&nbsp;</span>
    <span class="guide-text">Player Two: ❌</span>
    <div class="divider"></div>
    <button class="guide-button" type="button" (click)="openDialog()">How To Play</button>
    <div class="divider"></div>
    <span class="guide-text">Current Player: {{currentPlayer == 0 ? '⭕️' : '❌'}}</span>
  </div>
  <dialog open class="dialog" *ngIf="gameOver">
    {{ currentPlayer == 1 ? "Player One" : "Player Two" }} has won the game.
  </dialog>
  <div class="main" [class.disabled]="gameOver">
    <app-sub-grid
      *ngFor="let value of iterateNineTimes(); index as i"
      (subGridData)="subGridData($event, i)"
      [currentPlayer]="currentPlayer"
      [class.disabled]="disabledGrid(i)"
    ></app-sub-grid>
  </div>
</div>
