*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    background-color: #DE8F6E;
}

.player{
    font-size: 22px;
    margin-top: 10px;
}

.main{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-gap: 5px;
    background-color: black;
}

.timer{
    font-size: 100px;
    padding: 22px;
    border: 3px solid;
    border-radius: 20px;
    background-color: bisque;
}

.dialog{
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    background: black;
    color: white;
    padding: 10px;
}


.disabled {
    pointer-events: none; /* Disable mouse events */
    color: red !important;
    opacity: 0.3; /* Optionally reduce opacity to indicate the element is disabled */
    /* Add any other styles to indicate it's disabled */
  }

.center-grid{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 100px;
    justify-content: space-evenly;
}